<ion-header translucent="true">
  <ion-toolbar>
    <ion-title *ngIf="!verMenuLateral">Solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="peleadores.length!=0">
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content slot="fixed"> </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let peleador of peleadores">
      <ion-card-header>
        <ion-card-subtitle
          class="peleador-descripcion-text"
          *ngIf="peleador.interesado.experiencia==0"
        >
          Gimnasio
        </ion-card-subtitle>

        <ion-card-subtitle
          class="peleador-descripcion-text"
          *ngIf="peleador.interesado.experiencia==1"
        >
          Mmco
        </ion-card-subtitle>
        <ion-card-subtitle
          class="peleador-descripcion-text"
          *ngIf="peleador.interesado.experiencia==2"
        >
          Pro
        </ion-card-subtitle>

        <ion-card-title>{{peleador.interesado.apodo}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Peso: {{peleador.interesado.peso}} KG
      </ion-card-content>
    </ion-card>
  </ion-list></ion-content
>

<ion-content [fullscreen]="true" *ngIf="peleadores.length==0">
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content slot="fixed"> </ion-refresher-content>
  </ion-refresher>
  <h2>No solicitudes disponibles.</h2>
</ion-content>
